body {
    background: #000;
}

.box {
    width: 190px;
    height: 190px;
    margin: 5px;
    border-radius: 5%;
}

.bg {
    width: 810px;
    height: 810px;
    background: burlywood;
    padding: 5px;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.bg .box {
    background: rgba(255, 255, 255, 0.1);
}

.actor {}

.actor .box {
    position: absolute;
    left: 5px;
    top: 5px;
    background: red;

    font-size: 100px;
    text-align: center;
    line-height: 190px;
    color: #fff;

    transition: 0.5s;
    z-index: 99;
}


.actor .box.remove {
    opacity: 0;
    z-index: 0;
}


.actor .box.box_0_0 {
    left: 5px;
    top: 5px;
}

.actor .box.box_0_1 {
    left: 5px;
    top: 205px;
}

.actor .box.box_0_2 {
    left: 5px;
    top: 405px;
}

.actor .box.box_0_3 {
    left: 5px;
    top: 605px;
}

.actor .box.box_1_0 {
    left: 205px;
    top: 5px;
}

.actor .box.box_1_1 {
    left: 205px;
    top: 205px;
}

.actor .box.box_1_2 {
    left: 205px;
    top: 405px;
}

.actor .box.box_1_3 {
    left: 205px;
    top: 605px;
}

.actor .box.box_2_0 {
    left: 405px;
    top: 5px;
}

.actor .box.box_2_1 {
    left: 405px;
    top: 205px;
}

.actor .box.box_2_2 {
    left: 405px;
    top: 405px;
}

.actor .box.box_2_3 {
    left: 405px;
    top: 605px;
}

.actor .box.box_3_0 {
    left: 605px;
    top: 5px;
}

.actor .box.box_3_1 {
    left: 605px;
    top: 205px;
}

.actor .box.box_3_2 {
    left: 605px;
    top: 405px;
}

.actor .box.box_3_3 {
    left: 605px;
    top: 605px;
}

.actor .box.box_value_2 {
    background-color: rgb(239, 252, 176);
}

.actor .box.box_value_4 {
    background-color: rgb(29, 205, 205);
}

.actor .box.box_value_8 {
    background-color: rgb(145, 227, 73);
}

.actor .box.box_value_16 {
    background-color: rgb(232, 244, 62);
}

.actor .box.box_value_32 {
    background-color: rgb(235, 136, 43);
}

.actor .box.box_value_64 {
    background-color: rgb(233, 195, 3);
}

.actor .box.box_value_128 {
    background-color: rgba(128, 255, 255, 1);
}