.container .box_0_0 {
    left: 1%;
    top: 1%;
  }

.container .box_0_1 {
    left: 1%;
    top: 25.75%;
  }

.container .box_0_2 {
    left: 1%;
    top: 50.5%;
  }

.container .box_0_3 {
    left: 1%;
    top: 75.25%;
  }

.container .box_1_0 {
    left: 25.75%;
    top: 1%;
  }

.container .box_1_1 {
    left: 25.75%;
    top: 25.75%;
  }

.container .box_1_2 {
    left: 25.75%;
    top: 50.5%;
  }

.container .box_1_3 {
    left: 25.75%;
    top: 75.25%;
  }

.container .box_2_0 {
    left: 50.5%;
    top: 1%;
  }

.container .box_2_1 {
    left: 50.5%;
    top: 25.75%;
  }

.container .box_2_2 {
    left: 50.5%;
    top: 50.5%;
  }

.container .box_2_3 {
    left: 50.5%;
    top: 75.25%;
  }

.container .box_3_0 {
    left: 75.25%;
    top: 1%;
  }

.container .box_3_1 {
    left: 75.25%;
    top: 25.75%;
  }

.container .box_3_2 {
    left: 75.25%;
    top: 50.5%;
  }

.container .box_3_3 {
    left: 75.25%;
    top: 75.25%;
  }